// global
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.has-arrow::after {
    content: '';
    position: absolute;
    background-image: url(../img/775_ar_h.svg);
    color: #009a63;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
    top: 50%;
    z-index: 2;
}


/* header menu */

header>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header .header_logo>div {
    background-color: #009A63;
    width: 1170px;
    height: 66px;
    position: relative;
}

header .header_logo div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .header_logo div img {
    position: absolute;
    right: 40px;
}

.header_menu {
    position: relative;
    min-height: 73px;
    margin-top: 20px;
    border-bottom: 1px solid gray;
}

.header_menu .mx-auto {
    display: flex;
    flex-direction: row;
    width: 1170px;
    justify-content: space-around;
}

.header_menu--left {
    width: 72%;
}

.header_menu--left>div {
    display: flex;
    flex-direction: row;
}

.header_menu--left ul:first-child {
    padding-right: 10px;
}

.header_menu--left ul li {
    height: 76px;
    display: inline-table;
    line-height: 76px;
    text-align: center;
    min-width: 66px;
}

.header_menu--left ul li:first-child {
    padding-right: 10px;
}

.header_menu--left ul li:hover {
    border-bottom: 3px solid green;
}

.header_menu--right {
    height: 108px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 38%;
    align-items: center;
}

.btn-contact {
    border: 2px solid green;
    border-radius: 4px;
    width: 130px;
    min-width: 100px;
    height: 36px;
    text-align: center;
    margin-right: 30px;
    line-height: 36px;
}

.btn-link-home {
    width: 130px;
    min-width: 95px;
    height: 36px;
    text-align: center;
    line-height: 36px;
}

//variable
$green: #009A63;
$grey:#707070;
$mw:1000px;
@mixin label-box {
    padding-left: 40px;
    min-width: 21.6%;
}

@mixin attention {
    height: 128px;
    h4 {
        line-height: 148px;
        font-size: 27px;
        font-weight: bold;
        margin: 0;
    }
}

@mixin col-2-box {
    min-width: 100px;
    max-width: 731px;
    width: 96%;
    display: flex;
    margin-right: 3px;
}

.btn {
    border-radius: 4px;
    border: 2px solid #009A63;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.has-arrow::after {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $green;
    content: '';
    right: 18px;
    background-image: url('../img/775_ar_h.svg');
}

.arrow-prev-top::after {
    left: 10px;
    transform: rotate(180deg);
    top: 44%;
}

.arrow-next-top::after {
    right: 10px;
    top: 48%;
}

.arrow-prev-bellow::after {
    left: 5px;
    transform: rotate(180deg);
}

.arrow-next-bellow::after {
    right: 5px;
}

//container
.container {
    .session-box {
        margin: 0 auto;
        max-width: $mw;
        margin-top: 41px;
        border: 2px solid #727272;
        border-radius: 4px;
        .session-box__search {
            display: flex;
            flex-direction: row;
            align-items: center;
            min-height: 84px;
            .label-box {
                @include label-box;
            }
            .form-search {
                @include col-2-box;
                flex-direction: row;
                justify-content: space-between;
                .form-search__input {
                    width: 88.13%;
                    min-width: 50px;
                    margin-right: 4px;
                    input {
                        width: 100%;
                        height: 46px;
                        background-color: #E8E8E8;
                        border-radius: 4px;
                        border: 1px solid #E8E8E8;
                    }
                }
                .form-search__btn {
                    background-color: #009A63;
                    min-width: 50px;
                    height: 46px;
                    text-align: center;
                    cursor: pointer;
                    width: 11.18%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                }
            }
        }
        .session-box__list-btn {
            min-height: 92px;
            border-top: 1px solid $grey;
            border-bottom: 1px solid $grey;
            display: flex;
            flex-direction: row;
            align-items: center;
            .label-box {
                @include label-box;
            }
            .btn-main {
                // display: flex;
                // flex-direction: row;
                flex-wrap: wrap;
                // justify-content: flex-start;
                align-items: center;
                // min-width: 100px;
                // max-width: 731px;
                // width: 75%;
                @include col-2-box();
                // min-height: 102px;
                margin: 5px 0;
                .btn-main__item {
                    border: 2px solid #009A63;
                    width: 46px;
                    height: 46px;
                    text-align: center;
                    line-height: 46px;
                    margin-right: 12px;
                    border-radius: 4px;
                    color: #009A63;
                    font-weight: bold;
                }
            }
        }
        .session-box__four-btn {
            display: flex;
            flex-direction: row;
            min-height: 162px;
            align-items: center;
            padding-bottom: 10px;
            .label-box {
                @include label-box;
            }
            .four-btn__main {
                @include col-2-box();
                flex-wrap: wrap;
                justify-content: space-between;
                .btn-input {
                    width: 49.2%;
                    // @include mobile {
                    //     width: 96% !important;
                    // }
                    min-height: 56px;
                    padding-left: 18px;
                    overflow: auto;
                    a {
                        display: block;
                        max-width: 85%;
                        letter-spacing: -3px;
                        color: $green;
                    }
                }
            }
        }
    }
    .session-cont {
        min-height: 772px;
        background-color: #E8E8E8;
        margin-top: 40px;
        .info-important {
            margin: 0 auto;
            max-width: 1000px;
            padding-top: 40px;
            padding-bottom: 40px;
            .border-red {
                padding-left: 32px;
                padding-right: 32px;
                padding-top: 22px;
                letter-spacing: 0.9px;
                font-size: 18px;
                max-width: 1000px;
                min-height: 123px;
                border: 1px solid red;
                line-height: 0.1;
                span {
                    font-size: 14px;
                }
                &__inner {
                    a {
                        font-size: 12px;
                        text-decoration: underline;
                        line-height: 1.6;
                        position: relative;
                        &:after {
                            background-image: url(../img/PDF_32.svg);
                            width: 21px;
                            height: 21px;
                            margin-left: 18px;
                            position: absolute;
                            content: "";
                            margin-top: -5px;
                        }
                    }
                }
            }
            .attention {
                @include attention();
            }
            .list-group {
                &__item {
                    display: flex;
                    flex-direction: row;
                    min-height: 65px;
                    border-bottom: 1px solid $grey;
                    align-items: center;
                    text-align: center;
                    line-height: 24px;
                    .label-green {
                        background-color: #009A63;
                        min-width: 40px;
                        width: 5.4%;
                        height: 24px;
                        margin-left: 33px;
                        text-align: center;
                        margin-right: 17px;
                        span {
                            color: white;
                            letter-spacing: 1px;
                            font-size: 12px;
                        }
                    }
                }
            }
            .btn-cont {
                border: 2px solid #009A63;
                text-align: center;
                width: 200px;
                height: 46px;
                margin: 0 auto;
                line-height: 46px;
                margin-top: 34px;
                border-radius: 4px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                a {
                    color: #009A63;
                }
            }
        }
    }
    .session-carousel-top {
        min-height: 374px;
        min-width: 232px;
        padding-top: 80px;
        .carousel-slides-top {
            max-width: 1020px;
            min-width: 320px;
            padding: 0 45px;
            margin: 0 auto;
            height: 210px;
            .item {
                img {
                    margin: 0 auto;
                    object-fit: cover;
                }
            }
        }
    }
    .session-info {
        min-height: 548px;
        .info-inner {
            min-height: 380px;
            max-width: 1000px;
            margin: 0 auto;
            .title-journal {
                flex-direction: row;
                display: flex;
                min-height: 180px;
                border: 1px solid #D5D5D5;
                border-radius: 4px;
                align-items: center;
                padding-left: 40px;
                .btn-input {
                    width: 279px;
                    min-width: 100px;
                    min-height: 83px;
                    border: 2px solid #009A63;
                    border-radius: 4px;
                    position: relative;
                    color: #009A63;
                    margin-top: 10px;
                    p {
                        margin-top: 22px;
                        line-height: 0.5;
                        font-size: 14px;
                    }
                    span {
                        font-size: 21px;
                    }
                }
                &__text {
                    max-width: 620px;
                    margin-left: 20px;
                    line-height: 1.7;
                }
            }
            .attention {
                @include attention();
            }
        }
    }
    .session-carousel-bellow {
        min-height: 370px;
        .carousel-slides-bellow {
            max-width: 1010px;
            height: 150px;
            padding: 0 45px;
            margin: 0 auto;
            img {
                margin: 0 auto;
            }
            span {
                margin-left: 20px;
            }
        }
    }
}

.container>div {
    min-width: 320px;
}

// @media only screen and (max-width: 412px) {
//     .btn-main__item {
//         width: 30px !important;
//         height: 30px !important;
//         line-height: 30px !important;
//         margin-bottom: 2px;
//     }
// }
// @media only screen and (max-width: 470px) {
//     .has-arrow::after {
//         right: 5px;
//     }
// }
// @media only screen and (max-width: 480px) {
//     .btn-input a {
//         padding-left: 18px;
//     }
//     .btn-input p {
//         line-height: 1.6 !important;
//     }
// }
@media (max-width: 480px) {
    .session-box__search,
    .session-box__list-btn,
    .session-box__four-btn {
        flex-direction: column !important;
    }
    .label-box label br {
        display: none;
    }
    .label-box {
        padding-left: 0px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .btn-main__item {
        margin-right: 5px !important;
        margin-bottom: 2px;
    }
    .title-journal {
        flex-direction: column !important;
        padding-left: 1px !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .btn-input::after {
        right: 7px !important;
    }
    .btn-input {
        width: 98% !important;
        text-align: center;
    }
    .btn-input:nth-child(3) {
        margin-bottom: 12px !important;
    }
    .form-search {
        margin-bottom: 10px;
    }
    .title-journal__text {
        width: 98% !important;
        margin-left: 0px !important;
    }
}

@media (max-width:768px) {
    .label-box {
        padding-left: 5px !important;
    }
}